.carousel {
    position: relative;
    width: 100%;
    /*height: 400px;*/
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    align-content: center;

}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    border-radius: 20px;
    height: 450px;
    /*transform: translateX(-${props => props.currentIndex * 100}%);*/
}

.carousel-image {
    width: 100%;
    display: none;
    border-radius: 20px;
}

.carousel-image.active {
    display: block; /* Показываем только активное изображение */
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

.indicators {
    text-align: center;
    /*margin-top: 80px;*/
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #b79b9b;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: gray;
}