.modal-overlay {
    position: fixed;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    /*z-index: 1000;*/
    font-size: small;
}

.modal-content {
    background: #1b4b26;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 7px;
    width: auto;
}

.button-container {
    display: flex;
    justify-content: end;
}

.creation-box{
    display: flex;
    flex-wrap: wrap;
}

.flex-row{
    display: flex;
    flex-direction: row;
}